.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.person {
  text-align: center;
  margin: 10px;
}

.person img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.person p {
  margin-top: 10px;
  font-size: 18px;
}
